{
    "presets": [
        "@babel/env",
        "@babel/flow",
        "@babel/react"
    ],
    "plugins": [
        "babel-plugin-styled-components",
        "transform-flow-strip-types",
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
}
